<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <ul style="background-color: black; padding: 30px; list-style: none; display: flex;">
            <li style="margin: 0 20px;"><a style="text-decoration: none; color: #fff;" href="#">Home</a></li>
            <li style="margin: 0 20px;"><a style="text-decoration: none; color: #fff;" href="#">login</a></li>
            <li style="margin: 0 20px;"><a style="text-decoration: none; color: #fff;" href="#">signup</a></li>
        </ul>
    </header>

    <main>
        <h1>Wellcome to Server Page</h1>
    </main>
    
</body>
</html>