<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Route</h1>
    <main>
        <div style="background-color: rgb(184, 184, 184); width: 450px; margin: auto; padding: 20px; text-align: center;">
            <form action="/api/user" method="POST">
                <div style="margin-bottom: 10px; display: flex;">
                    <label for="name">Name</label>
                    <input style="width: 100%; margin-left: 10px; padding: 10px 15px;" type="text" name="name" id="name">
                </div>
                <div style="margin-bottom: 10px; display: flex;">
                    <label for="phone">Phone</label>
                    <input style="width: 100%; margin-left: 10px; padding: 10px 15px;" type="text" name="phone" id="phone">
                </div>
                <button type="submit" style="margin-top: 20px; padding: 10px;">Submit</button>
            </form>
        </div>
    </main>
    
</body>
</html>